:root {
    --animation-time: 2s;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-color: transparent;
    transition: background-color 0.5s ease;
    background-position: -50% -50%;
    width: 200%;
    height: 100%;
    overflow: hidden;

    position: relative;

    background: linear-gradient(50deg, rgba(35,166,213,1) 7%, rgba(84,0,255,1) 17%, rgba(157,0,224,1) 33%, rgba(231,60,126,1) 70%, rgba(252,176,69,1) 100%);
    background-size: 400% 400%;
    animation: gradient 10s cubic-bezier(.39,.06,.61,.94) infinite;
    padding: 0vh;
}

.grid-item {
    flex-basis: calc(100% / var(--columns));
    /* height and width should be screen width // 15 but at least 50px big and max 100px big*/
    height: min(15vw, 80px);
    width: min(15vw, 80px);
    background-color: transparent;
    border: 1px solid #000;
    transition: background-color 0.5s ease;
    position: relative;
    left: -10vw;
    top: -10vh;    
  }

.animate {
  animation: light-up 1s ease-out infinite;
}

@keyframes light-up {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: rgba(0, 0, 0, 0.2);
    }
    100% {
        background-color: transparent;
    }
  
}


body {
  padding: 0vh;
  margin: 0vh;
  overflow-x: hidden;
  background-color: #121212;
}

@keyframes gradient {
	0%, 100% {
		background-position: 25% 0%;
	}
	25% {
		background-position: 30% 80%;
	}
	50% {
		background-position: 100% 100%;
	}
  75%{
    background-position: 100% 25%;
  }
}

.example::-webkit-scrollbar {
  display: none;
}


.spinner {
    /* set on top of page */
    margin-top: -100vh;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: var(--animation-time);
    transform-style: preserve-3d;
    text-align:center;
  }
  @keyframes spinner {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
  
  
  #shadowBox {
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.2);
      /* Black w/opacity/see-through */
      border: 3px solid;
  }
  
  .rainbow {
      text-align: center;
      text-decoration: underline;
      font-size: 32px;
      font-family: monospace;
      letter-spacing: 5px;
  }
  .rainbow_text_animated {
      background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      animation: rainbow_animation var(--animation-time) ease-in-out infinite;
      background-size: 400% 100%;
  }
  
  @keyframes rainbow_animation {
      0%,100% {
          background-position: 0 0;
      }
  
      50% {
          background-position: 100% 0;
      }
  }
  
  #hs:after {
    content:"";
    animation: spin var(--animation-time) linear infinite;
  }
  
  @keyframes spin {
      0%,100% {
        content:"HumanSolutions";
      }
  
      50% {
        content:"HuSo";
      }
  }
  
  p{
    font-size: 9vw;
  }